@import '../styles/settings.scss';

@font-face {
    font-family: "helvetica";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("helvetica"), url("/fonts/helvetica/Helvetica.woff") format("woff");
}

@font-face {
    font-family: "jakarta-sans";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("jakarta-sans"), url("/fonts/jakartaSans/PlusJakartaSans-Regular.ttf") format("truetype");
}

body,
html,
p,
div,
input,
span,
a,
button,
table th,
table td {
    font-family: 'jakarta-sans';
}

.text-h3 {
    font-size: 1.5rem !important;
}

.btn-primary {
    background-color: $base-primary-color !important;
    color: #fff;
}

.bg-light-secondary {
    background-color: $base-light-secondary;
}

.text-primary {
    color: $base-primary-color !important;
}

.no-underline {
    text-decoration: none !important;
}
.pointer {
    cursor: pointer;
}
.card-light-primary {
    background: $base-light-primary !important;
    box-shadow: none;
}
.fw-bold {
    font-weight: bold !important;
}
.invalid-feedback {
    color: rgb(176, 0, 32);
    font-size: 12px;
}
// .vue-date-picker {
//     padding-top: 16px;
//     padding-bottom: 16px;
//     border: 1px solid rgba(2, 3, 3, .35);
// }
.no-padding {
    padding: 0 !important;
}

.form-label {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.v-input__details {
    pointer-events: none;
}

.no-scroll::-webkit-scrollbar {
    display: none !important;
}

.form-control {
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;

    &:focus {
        outline: none !important;
    }
}

.v-window,
.v-card {
    box-shadow: 0 2px 8px rgba(47, 43, 61, 0.12), 0 0 transparent, 0 0 transparent;
}

.no-shadow {
    box-shadow: none !important;
    
    .v-window {
        box-shadow: none !important;
    }
}

table thead th {
    font-weight: bold !important;
}

.custom-input-field {
    border: 1px solid #e6e6e6;
    padding: 6px 12px;
    border-radius: 8px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.custom-input .v-input__details {
    display: none;
    transition: all 1s;
}

.custom-input.v-input--error .v-input__details {
    display: flex !important;
}

.main-content-drawer {
    padding: 15px $padding-main-right 15px $padding-main-left;
}

.main-app-bar {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    padding: 0 $padding-main-right 0 calc($sidebar-width + $padding-main-left) !important;
    transition: all .2s;
}

.main-app-bar.on-rail {
    padding: 0 $padding-main-right 0 $padding-left-header-on-rail !important;
}

.maxWidth {
    max-width: 1400px;
    margin: 0 auto;
}

@media screen and (min-width: 1700px) {
    .main-app-bar {
        padding: 0 calc($padding-main-right + 90px) 0 calc($sidebar-width + $padding-main-left + 110px) !important;
    }
}

@media screen and (max-width: 1180px) {
    .main-app-bar {
        padding: 0 40px !important;
    }
}

@media screen and (max-width: 576px) {
    .main-app-bar {
        padding: 0 18px !important;
    }

    .maxWidth {
        max-width: 100%;
        margin: 0 20px;
    }

    .main-content-drawer {
        padding: 0;
    }
}

.detail-employee-active-menu.router-link-exact-active .v-list-item {
    background-color: rgb(179, 229, 252, .3);
    border-radius: 4px !important;
}

.detail-employee-title {
    font-weight: bold;
    font-size: 20px;
}

.disable-link {
    color: #000 !important;
    text-decoration: none !important;

    &:hover {
        text-decoration: underline !important;
    }
}

.detail-employee-text-title {
    font-weight: bold;
    font-size: 14px;
}

.detail-employee-text-value {
    font-size: 13px;
}

.employee-information-title {
    font-size: 15px;
    font-weight: bold;
}

.employee-information-sub {
    font-size: 13px;
    color: darkgray;
}

.employee-detail-title {
    font-size: 14px;
    font-weight: bold;
}

.employee-detail-value {
    font-size: 13px;
}

.new-border-form-control .v-field {
    border: 1px solid rgba(0,0,0,.38) !important;
    border-radius: 4px;
    box-shadow: none !important;
}

.no-decoration {
    text-decoration: none !important;
}

.v-list-item--active {
    .v-list-item__overlay {
        opacity: 0 !important;
    }
}

.expansion-text-no-padding {
    .v-expansion-panel-text__wrapper {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.border-bottom {
    border-bottom: 1px solid #e6e6e6 !important;
}

.input-no-detail .v-input__details {
    display: none !important;
}

.filter-result  .v-chip__content p {
    font-size: 12px !important;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 8px; /* Adjust as needed */
    height: 8px; /* For horizontal scrollbar */
  }
  
  /* Scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray */
    border-radius: 10px;
  }
  
  /* Scrollbar thumb (the moving part) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Dark gray */
    border-radius: 10px;
  }
  
  /* Scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker gray */
  }
  
  .currecy-input-elem {
    line-height: 1.5;
    border: 1px solid #a3a2a2;
    width: 100%;
    padding: 8px 14px;
    border-radius: 4px;
    
    &:focus {
        outline: none;
        border: 1px solid #e6e6e6;
    }
  }